.fifteen {
    width: 14.99999% !important;
    min-width: 150px;
}

.full {
    width: 100% !important;
}

.border-menu {
    border-top-color: #fff !important;
    border-top-style: solid !important;
    width: 100%;
}

.client-bar-item{
    padding: 8px 0px;
    float: left;
    width: 100%;
    border: none;
    outline: none;
    display: block;
    font-size: 18px;
}