.hotel-name {
    margin: 80px 30px 30px 30px;
    position: relative;
}

.hotel-stars {
    margin: 20px 30px 30px 30px;
    position: relative;
}

.hotel-image-small {
    height: auto;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: height 1s, width 1s, box-shadow 1s;
}

.hotel-image-small:hover {
    height: auto;
    width: 28%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 30px 0 rgba(0, 0, 0, 0.49);
    cursor: pointer;
    transition: height 1s, width 1s, box-shadow 1s;
}

.margin-top-button {
    position: relative;
    margin-top: 10%;
}

.europe {
    color: #fff !important;
    background-color: rgb(3, 56, 80) !important;
}

.asia {
    color: #fff !important;
    background-color: rgb(144, 81, 6) !important;
}

.africa {
    color: #fff !important;
    background-color: rgb(13, 101, 29) !important;
}

.america {
    color: #fff !important;
    background-color: rgb(117, 8, 8) !important;
}

.oceania {
    color: #fff !important;
    background-color: rgb(10, 19, 99) !important;
}

.background {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;
    height: 130vh;
    position: fixed;
    width: 100%;
    transform: translateY(30vh);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.background:first-child {
    background-image: url(/Media/Hotels/americanluxury.jpg);
    transform: translateY(-15vh);
}

.background:first-child .content-wrapper {
    transform: translateY(15vh);
}

.background:nth-child(2) {
    background-image: url(/Media/Hotels/europeanpalace6-opacity.png);
}

.background:nth-child(3) {
    background-image: url(/Media/Hotels/asiangardens4-opacity.png);
}

.background:nth-child(4) {
    background-image: url(/Media/Hotels/africansavannah4-opacity.png);
}

.background:nth-child(5) {
    background-image: url(/Media/Hotels/americanluxury5-opacity.png);
}

.background:nth-child(6) {
    background-image: url(/Media/Hotels/oceanicparadise2-opacity.png);
}

.background:nth-child(1) {
    z-index: 6;
}

.background:nth-child(2) {
    z-index: 5;
}

.background:nth-child(3) {
    z-index: 4;
}

.background:nth-child(4) {
    z-index: 3;
}

.background:nth-child(5) {
    z-index: 2;
}

.background:nth-child(6) {
    z-index: 1;
}

.content-wrapper {
    transform: translateY(40vh);
    will-change: transform;
    backface-visibility: hidden;
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-tittle {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
}

.background.up-scroll {
    transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content-wrapper {
    transform: translateY(15vh);
}

.background.up-scroll + .background {
    transform: translate3d(0, 30vh, 0);
}

.background.up-scroll + .background .content-wrapper {
    transform: translateY(30vh);
}

.background.down-scroll {
    transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content-wrapper {
    transform: translateY(40vh);
}

.background.down-scroll + .background:not(.down-scroll) {
    transform: translate3d(0, -15vh, 0);
}

.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
    transform: translateY(15vh);
}

.padding-top-128 {
    padding-top: 128px;
}