.slideshow {
    left: 50%;
    right: 50%;
    width: 60%;
    height: 450px;
}

.hotel-tittle {
    position: absolute;
    width: 100%;
    background-color: rgb(3, 56, 80);
    height: 300px;
    border-radius: 100px / 50px;
    margin-top: -100px;
}

.rating-star {
    font-size: 0pt;
    width: 18px;
    height: 15px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.filled-rating-star {
    background-image: url(/Media/Icons/FilledStar.png);
}

.empty-rating-star {
    background-image: url(/Media/Icons/EmptyStar.png);
}

.text-review {
    width: 100%;
}