.slideshow {
    left: 50%;
    right: 50%;
}

.hotel-tittle {
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 100px / 50px;
    margin-top: -100px;
}

.hotel-tittle-europe {
    background-color: rgb(3, 56, 80);
}

.hotel-tittle-africa {
    background-color: rgb(20, 96, 34);
}

.hotel-tittle-america {
    background-color: rgb(100, 22, 22);
}

.hotel-tittle-asia {
    background-color: rgb(122, 74, 18);
}

.hotel-tittle-oceania {
    background-color: rgb(20, 27, 94);
}

.rating-star {
    font-size: 0pt;
    width: 18px;
    height: 15px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.filled-rating-star {
    background-image: url(/Media/Icons/FilledStar.png);
}

.empty-rating-star {
    background-image: url(/Media/Icons/EmptyStar.png);
}

.text-review {
    width: 100%;
}

.content-review {
    color: #4A4A4A;
    padding: 20px;
    position: relative;
    overflow: visible;
    border: 4px solid #dcdcdc;
    border-radius: 4px;
}

.cursor-default {
    cursor: default;
}