.backimgPromo {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    opacity: 0.95;
    background-image: url("/Media/Promo/promo.jpg");
    min-height: 400px;
}
.promo-container{
    width:100%;
    position:relative;
}
.promo-show{
    width:100%;
    height:300px;
    position:relative;
}
.promo-individual{
    background-color: white;
    border: 1px solid darkorange;
    margin: 10px;
    border-radius: 20px;
    width:23%;
    height:300px;
    float:left;
    box-sizing:content-box;
}
.promo-description{
    height:50%;
    width:100%;
}
.promo-button{
    background-color: darkorange;
    cursor: pointer;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    border: none;
}
.margin-left-large{
    margin-left: 80px !important;
}

.display-border-orange{
    width: 80%; 
    border:2px solid white;
    border-radius: 8px 8px 8px 8px;
    transition: all 0.7s;
}

.display-border-orange:hover{
    width:90% !important;
    font-size:24px !important; 
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
    transition-delay:0.5s;
}

.mycontainer{
    color: #ffffff;
    background-color: #83ABBF;
}

.backPopup{
    background-color: white;
    width: 30% !important;    
    border:2px solid black;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
}

.close-button{
    background-color: black;
    border-radius: 1px 1px 1px 1px;
    text-align: center;
}