.aux {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #83ABBF;
    opacity: 0.95;
    min-height: 400px;
}

