/* Position */
.drop-container{
    position:relative;
    top:0px
}

.dropdown-border{
    outline:0px;
    border: 3px solid #ff6a00;
    border-radius:5px 5px 5px 5px;
}

.display-border{
    border: 3px solid #73AD21;
}

.backimgdrop{
    text-indent:40px;
    background: url("/Media/Others/Worldmap-icon3.png") no-repeat left;
}
.backimgdrop2{
    text-indent:40px;
    background: url("/Media/Others/roller-coaster3.png") no-repeat left;
}




