body {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
}

body, html, form {
    height: 100%;
    background-color: #FFFFFF;
    margin: 0;
}

/*Font sizes*/

.small{
    font-size: 6px !important;
}

.medium{
    font-size: 12px !important;
}

.large{
    font-size: 18px !important;
}

.xlarge{
    font-size: 24px !important;
}

.xxlarge{
    font-size: 36px !important;
}

/*Paddings*/

.padding-small{
    padding: 2px 4px !important;
}

.padding-medium{
    padding: 6px 12px !important;
}

.padding-large{
    padding: 12px 24px !important;
}

.padding-right{
    padding-right: 14px !important;
}

.padding-left{
    padding-left: 14px !important;
}

.padding-left-large{
    padding-left: 45px !important;
}

.padding-top{
    padding-top: 14px !important;
}

.padding-bottom{
    padding-bottom: 14px !important;
}

.padding-16{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.padding-32{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.padding-64{
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.padding-128{
    padding-top: 128px !important;
    padding-bottom: 128px !important;
}

/*Margins*/

.margin-small{
    margin: 2px 4px !important;
}

.margin-medium{
    margin: 6px 12px !important;
}

.margin-large{
    margin: 12px 24px !important;
}

.margin-right{
    margin-right: 18px !important;
}

.margin-right-large{
    margin-right: 46px !important;
}

.margin-left{
    margin-left: 18px !important;
}

.margin-top{
    margin-top: 18px !important;
}

.margin-top-large {
    margin-top: 46px !important;
}

.margin-bottom{
    margin-bottom: 18px !important;
}

.margin-bottom-large{
    margin-bottom: 46px !important;
}

.margin-16{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.margin-32{
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.margin-64{
    margin-top: 64px !important;
    margin-bottom: 64px !important;
}

/*Opacity*/

.opacity-min{
    opacity: 0.8;
}

.appear{
    animation: appear 0.8s;
}

@keyframes appear{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

.hover-opacity:hover{
    opacity: 0.7;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}

/*Text*/

.center{
    text-align: center !important;
}

.wide{
    letter-spacing: 4px;
}

.text-white, .hover-text-white:hover {
    color: #fff !important;
}

.text-black, .hover-text-black:hover {
    color: #000 !important;
}

.black, .hover-black:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.white, .hover-white:hover {
    color: #000 !important;
    background-color: #fff !important;
}

.text-orange, .hover-text-black:hover {
    color: #F26101 !important;
}

.orange, .hover-orange:hover {
    color: #fff !important;
    background-color: #F26101 !important;
}

.text-darkblue, .hover-text-darkblue:hover {
    color: #1B253B !important;
}

.darkblue, .hover-darkblue:hover {
    color: #fff !important;
    background-color: #1B253B !important;
}

.grey {
    background-color: rgba(232, 229, 229, 0.80);
}

.text-blue, .hover-text-blue:hover {
    color: #83ABBF !important;
}

.blue, .hover-blue:hover {
    color: #fff !important;
    background-color: #83ABBF !important;
}

.bold{
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

/*Background images*/

video { 
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    left: 0px;
    background-size: cover;
}

.backimg1, .backimg2, .backimg3, .backimg4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    opacity: 0.95;
}

.backimg1 {
    background-image: url("/Media/Others/Rides.jpg");
    min-height: 400px;
}

.backimg2 {
    background-image: url("/Media/Others/Worldmap.jpeg");
    min-height: 400px;
}

.backimg3 {
    background-image: url("/Media/Others/Shop.jpg");
    min-height: 400px;
}

.backimg4 {
    background-image: url("/Media/Hotels/europeanpalace3.jpg");
    min-height: 400px;
}

/*Top menu*/

.logo-small{
    height: 40px;
    width: auto;
	top: 50%;
	left: 50%;
}

.logo-small-narrow {
    height: 20px;
    width: auto;
	top: 50%;
	left: 50%;
}

.bar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
}

#nav-menu .menu {
	margin: 12px 24px;
}

.bar-item{
    padding: 8px 16px;
    float: right;
    width: auto;
    border: none;
    outline: none;
    display: block;
    font-size: 18px;
}

.button{
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
}

.button-sign {
    display: inline-block;
    outline: 0;
    padding: 12px 24px;
    vertical-align: middle;
    text-decoration: none;
    border: none;
    color: inherit;
    background-color: rgba(27, 37, 59, 0.9);
    text-align: center;
    cursor: pointer;
    border-radius: 3px 3px;
}

.button-sign:hover {
    background-color: rgba(42, 56, 88, 1);
}

.dynamic-menu {
    background-color: #23304C;
}

#nav-menu a:hover[class*="level2"] {
     text-decoration: underline;
}

/*Swiper*/

.slider-container {
    overflow: visible;
    width: 100%;
    margin: 20px auto 0px auto;
    direction: ltr;
    backface-visibility: hidden;
    z-index: 1;
    position: relative;
}

.swiper {
    width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 33.33333%;
    height: 380px;
    float: left;
    box-sizing: content-box;
}

.slide.hide {
    display: none;
}

.slide-image {
    width: 100%;
    height: 100%;
}

.show-text {
    position: absolute;
    width: 29.33333%;
    height: 200px;
    bottom: 0;
    padding: 1% 2%;
    text-align: left;
    top: 335px;
    transition: top ease-out 0.8s;
}

.slide:hover .show-text {
    top: 245px;
}

.show-text-africa {
    background-color: rgba(61, 139, 75, 0.90);
}

.show-text-asia {
    background-color: rgba(153, 108, 55, 0.90);
}

.show-text-europe {
    background-color: rgba(77, 132, 156, 0.90);
}

.show-text-america {
    background-color: rgba(143, 53, 53, 0.90);
}

.show-text-oceania {
    background-color: rgba(57, 65, 130, 0.90);
}

.arrow {
    display: block;
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    background-color: rgba(83, 115, 183, 0.90);
}

.arrow-next {
    border-radius: 30px 0px 0px 30px;
    right: 0px;
}
    
.arrow-prev {
    border-radius: 0px 30px 30px 0px;
    left: 0px;
}

.button-africa {
    background-color: rgb(48, 109, 59);
}

.button-asia {
    background-color: rgb(118, 84, 44);
}

.button-europe {
    background-color: rgb(60, 103, 123);
}

.button-america {
    background-color: rgb(105, 41, 41);
}

.button-oceania {
    background-color: rgb(42, 47, 95);
}

.button-africa:hover {
    background-color: rgb(38, 86, 47);
}

.button-asia:hover {
    background-color: rgb(102, 73, 39);
}

.button-europe:hover {
    background-color: rgb(53, 91, 108);
}

.button-america:hover {
    background-color: rgb(84, 34, 34);
}

.button-oceania:hover {
    background-color: rgb(33, 37, 75);
}

/*Buttons*/

.to-top {
	padding: 6px 14px;
	background: #024959;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 30px;
    margin: 0px;
    display: none;
}

.to-top a {
	font-size: 20px;
    text-decoration: none;
	color: #fff;
}

.buy-button {
    background: #F26101 url(/Media/Icons/tickets.png) no-repeat left;
    background-size: 40px;
	padding: 6px 14px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	left: 30px;
    margin: 5px;
    border-radius: 70px;
    height: 50px;
    width: 180px;
    font-size: 22px;
    text-decoration: none;
    border: none;
    transition: width ease-in 0.3s, height ease-in 0.3s, bottom ease-in 0.3s, left ease-in 0.3s, font-size ease-in 0.3s, box-shadow ease-in 0.3s, background-size ease-in 0.3s;
}

.buy-button-small {
    background: #F26101 url(/Media/Icons/tickets.png) no-repeat left;
    background-size: 30px;
	padding: 3px 7px;
	cursor: pointer;
	position: fixed;
	bottom: 60px;
	left: 30px;
    margin: 2px;
    border-radius: 70px;
    height: 35px;
    width: 130px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    transition: width ease-in 0.3s, height ease-in 0.3s, bottom ease-in 0.3s, left ease-in 0.3s, font-size ease-in 0.3s, box-shadow ease-in 0.3s, background-size ease-in 0.3s;
}

.buy-button:hover {
    background-size: 60px;
	bottom: 20px;
	left: 20px;
    height: 75px;
    width: 255px;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
    transition: width ease-in 0.3s, height ease-in 0.3s, bottom ease-in 0.3s, left ease-in 0.3s, font-size ease-in 0.3s, box-shadow ease-in 0.3s, background-size ease-in 0.3s;
}

.buy-button-small:hover {
    background-size: 40px;
	bottom: 60px;
	left: 20px;
    height: 60px;
    width: 155px;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
    transition: width ease-in 0.3s, height ease-in 0.3s, bottom ease-in 0.3s, left ease-in 0.3s, font-size ease-in 0.3s, box-shadow ease-in 0.3s, background-size ease-in 0.3s;
}

.button-slice {
    color: #fff !important;
    background: #1B253B;
    background: linear-gradient(to left, #F26101 50%, #1B253B 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    transition: all 0.7s;
}

.button-slice:hover {
    background-position:right bottom;
}

/*Position*/

.top {
    top: 0;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.display-middle-sub {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.front {
    z-index: 100;
}

.display-container {
    position: relative;
}

.content {
    max-width: 85%;
    margin: auto;
}

.container {
    padding: 0px 16px;
}

.row-padding {
    padding: 0 8px;
}

.container:after, .container:before, .row:after, .row:before, .row-padding:after, .row-padding:before, .bar:before, .bar:after, 
.slider-container:after, .slider-container:before {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 100%;
}

.three-quarter {
    width: 74.99999% !important;
}

.half {
    width: 49.99999% !important;
}

.third {
    width: 33.33333%;
}

.quarter {
    width: 24.99999% !important;
}

.fifth {
    width: 19.99999% !important;
}

/*Footer*/

.footer {
    background-color: #1B2630;
}

.sub-footer {
    background-color: #fff9f0;
    bottom: 0px;
    display: inline;
}

#footer-bar a:hover[class*="level1"] {
     text-decoration: underline;
}

.icon-small {
    height: 40px;
    width: auto;
	top: 50%;
	left: 50%;
}

/*Others*/

.image-menu {
    height: 200px;
    width: auto;
    margin-bottom: -7px;
}

.icon {
    max-height: 20px;
}

.no-overflow {
    overflow: hidden;
}