XadamaWebapp/.vs/config/applicationhost.config
*.suo
*.exe
*.cache
*.user
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

**/packages/*
!**/packages/build/

.vs/
*.vc.vc.opendb
*.vc.db
