body {
}

.back1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1b2630;
    opacity: 0.95;
    top: -10px;
    left: 0px;
    height: 5px;
    width: auto;
}

.backimgt1 {
    background-image: url("/Media/Others/ticketsback2.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    opacity: 0.95;
    top: -17px;
    left: 0px;
    height: 600px;
    width:auto;
}

.wrapt {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    color: #989A8F;
}

.table {
    background-color: #ffffff;
    height: 325px;
    width: 100%;
    margin-top: 50px;
}

ul#tickets {
    list-style-type: none;
    font-family: Calibri;
}

.ultickets .litickets {
    float: left;
    width: 199px;
}

.topt {
    background-color: #1B253B;
    color: #fff;
    height: 75px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 23px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background: #F26101;
    border: dotted;
    border-color: white;
    margin-left: 70px;
    margin-top: 10px;
}

.bottomt {
    margin-top: 50px;
}

.days {
    font: 10px 'Franklin Gothic Medium Cond';
    padding: 4px;
}

.indications {
    font-size: 11px;
    text-align: left;
    margin-left: 40px;
    color: #1b2630;
}

td {
    border-bottom: solid 1px #d7dce9;
    text-align: center;
}

caption {
    background-color: #F26101;
    font: bold 30px 'Franklin Gothic Medium Cond';
    color: white;
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: dotted;
    border-left-width: medium;
    border-right: dotted;
}
th {
    color: #fff;
    padding: 0 4em 0 4em;
    background-color: #1B253B;
    border-top: 1px solid #1B253B;
    border-bottom: 1px solid #1B253B;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}


table {
    border-collapse: collapse;
    text-align: center;
    font-family: Calibri;
    color: #4e4a4a;
    font-size: large;
}

table#buytickets {
    width: 58%;
    margin-left: 20%;
    margin-right: 22%;
}

